<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tenants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <!-- imported CSS are concatenated and added automatically -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap" rel="stylesheet">
</head>

<body aurelia-app="main">
</body>

</html>
