.tenants{
 color: #276597;
 font-size: 18px;
}

.header{
  font-weight: 300;
}

.tenants__header, .tenants__summary{
  margin-left: 20px;
}

.tenants__summary{
  margin-top: 20px;
  width: 300px;
}

.tenants__summary-item{
  margin: 0 auto;
  text-align: center;
}

.tenants__summary-count{
  height: 60px;
  width: 60px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.circle{
  border: 1.5px solid;
  border-radius: 50%;
}

.circle--blue{
  border-color: #276597;
}

.circle--green{
  border-color: green;
}

.circle--red{
  border-color: red;
}

.tenants__summary-count--bigFont{
  font-size: 2.2rem;
}

.tenants__summary-caption{
  width: 60px;
  text-align: center;
  font-size: 0.8rem;
}
