

/* HEADER */
.tenants{
 color: #276597;
 margin: 25px auto;
}

.header__title{
  padding: 0;
  font-weight: 200;
}

.header__title:hover{
  color: #1c486b;
  cursor: pointer;
}

.summary{
  margin-top: 20px;
  width: 270px;
  justify-content: space-between;
}

.summary__item{
  margin: 0 auto;
}

.summary__count{
  height: 60px;
  width: 60px;
  margin: 2.5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.circle{
  border: 1.5px solid;
  border-radius: 50%;
}

.circle--blue{
  border-color: #276597;
}

.circle--green{
  border-color: green;
}

.circle--red{
  border-color: red;
}

.summary__count--bigFont{
  font-size: 3.2rem;
}

.summary__count--absolute{
  position: absolute;
}

.summary-caption--relative{
  position: relative;
  top: 50%;
}

.summary-caption{
  width: 60px;
  text-align: center;
  font-size: 0.9rem;
}

/* FILTERS */
.filters, .box{
  padding: 0 15px;
}

.filters__label {
  padding: 0 0 25px 0;
  margin: 0;
}

.filters__subtitle{
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.filters__search{
  padding: 0;
  margin: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.filters__search-icon{
  color: #276597;
}

.filters__input{
  width: 90%;
  background-color: #eaf1f1;
}

.select-box{
  height: 50px;
  width: 100%;
  background-color: #eaf1f1;
}

.filters__input, .filters__select, .filters__submit-button{
  border: none;
  height: 50px;
  outline: none;
}

.filters__select{
  background: url('../img/expand-button.png') no-repeat right #eaf1f1;
  width: 95%;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

.filters__submit-button{
  width: 10%;
  background-color: #eaf1f1;
}

button:active {
  outline: none;
  border: none;
}

/* TENANTS */

.box{
  margin: 0;
  border-top: 1.5px solid #eff0f0;
  padding: 20px 0;
  align-items: center;
}

.box__item{
  margin: 0;
  padding: 0;
}

.tenants__item--name{
  font-size: 1.5rem;
  order: 0;
}
.tenants__item--enabled{
  order: 1;
}

.tenants__item--date{
  color: grey;
  font-size: 0.9rem;
  order: 2;
}

.tenants__item--demo{
  order: 3;
}

.tenants__item--enabled, .tenants__item--demo{
  text-align: right;
}

@media(max-width:767px){
  .tenants__item--enabled{
    text-align: left;
  }
  .tenants__item--enabled{
    order: 2;
  }
  
  .tenants__item--date{
    order: 1;
  }

  .filters__search{
    width: 100%;
  }
  .filters__submit-button{
    width: 15%;
  }
}

